body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(
    circle at top,
    #1f4d38 0%,
    #0b1f17 60%,
    #06130e 100%
    );
    font-family: system-ui, sans-serif;
    }
.navbar{
    min-width: max-content;
    background-color: #0b1f17;
    color: #fff;
    display: flex;
    padding: 15px;
}
.title{
    display: flex;
    width: 70%;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}
.icons button{
    border-radius: 300px;
    background: #27382E;
    width: 60px;
    height: 60px;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.icons button:active{
    scale: 0.98;
}
.menu{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    display: flex;
    background: #143124;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.searchbar input{
    height: 40px;
    background: #313a34;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 14px;
    color: #e5f3ec;
    border-radius: 15px;
    margin: 30px;
    width: 100%;
}
.searchbar{
    display: flex;
    flex-direction: row;
}
.searchbar button{
    border-radius: 300px;
    background: #00b34a;
    width: 60px;
    height: 60px;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.searchbar button:active{
    scale: 0.98;
}
.searchbar-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
}
.searchbar-right{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
}
<<<<<<< Updated upstream
=======
#id{
   width: 500px;
}

.grid td{
    background-color: #0b1f17;
    color: white;
    width: 500px;
}

.grid img{
    width: 100px;
}
>>>>>>> Stashed changes
