body {
margin: 0;
min-height: 100vh;
background: radial-gradient(
circle at top,
#1f4d38 0%,
#0b1f17 60%,
#06130e 100%
);
font-family: system-ui, sans-serif;
}
.card img{
    border-radius: 30px;
}
.card{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.card p{
    color: #D0DAE6;
}
.avatar-container{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
}
.avatar-ring{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5e6d3;
    overflow: hidden;
}
.avatar-ring img{
    width: 80%;
    margin-top: 20px;
}
.icon-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #1ed760;
    border: 2px solid #0b1410;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .icon-badge::after {
    content: '🏛️'; /* Placeholder for the building icon */
    font-size: 14px;
}
.card button{
    background: #2BEE79;
    font-weight: 700;
    height: 45px;
    width: 300px;
    border: 0;
    border-radius: 12px;
    margin: 10px;
    font-size: 15px;
}
.menu{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    display: flex;
    background: #143124;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.menu button{
    border-radius: 300px;
    background: rgba(0, 179, 75, 0);
    width: 60px;
    height: 60px;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.menu button:active{
    scale: 0.98;
    background: rgba(0, 179, 75, 0.11);
}
#input{
    font-weight: 700;
    height: 45px;
    width: 300px;
    border: 0;
    border-radius: 12px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    font-size: 16px;
}