body {
margin: 0;
min-height: 100vh;
background: radial-gradient(
circle at top,
#1f4d38 0%,
#0b1f17 60%,
#06130e 100%
);
font-family: system-ui, sans-serif;
}
.card img{
    border-radius: 30px;
}
.card{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.card p{
    color: #D0DAE6;
}
<<<<<<< HEAD

.register{
    border-radius: 30px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 35%;
    right: 35%;
    background-color: rgb(61, 55, 71);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.register input{
    font-size: large;
    width: 60%;
    height: 50px;
=======
.card button{
    background: #2BEE79;
    height: 45px;
    width: 300px;
    border: 0;
    border-radius: 12px;
    margin: 10px;
}
#grey{
   background: #1B3424;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 14px;
    color: #e5f3ec;
}
.card button:active{
    scale: -0.98;
>>>>>>> 34a458cbb398690a8ded19c4cd3814d482144b8a
}