body {
margin: 0;
min-height: 100vh;
background: radial-gradient(
circle at top,
#1f4d38 0%,
#0b1f17 60%,
#06130e 100%
);
font-family: system-ui, sans-serif;
}
.card img{
    border-radius: 30px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.card p{
    color: #D0DAE6;
}

.register{
    border-radius: 30px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 35%;
    right: 35%;
    background-color: rgb(61, 55, 71);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.register input{
    font-size: large;
    width: 60%;
    height: 50px;
}